<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Server</h3>
<iframe id="hhh"></iframe>
<script>
    // let ifr = document.getElementById('hhh');
    // ifr.contentWindow.postMessage = function () {
    //     console.log(arguments);
    // }
    // ifr.contentWindow.postMessage('dd',"http://localhost:3000")
    // window.onmessage=function (e) {
    //     var xhr = new XMLHttpRequest();
    //     xhr.onreadystatechange=function() {
    //         if (xhr.readyState==4 && xhr.status==200)
    //         {
    //             console.log("IFRAME收到Server：",xhr.responseText);
    //         }
    //     }
    //     xhr.open("GET", "http://localhost:3000/testIfrReq");//"http://localhost:3000/trans"
    //     xhr.send("wwww");
    //
    //     // console.log("Server iframe",e.data);
    //     event.source.postMessage("ServerResponse" , event.origin);
    // };
</script>
</body>
</html>
